<section class="section">
  <div class="container has-text-centered">
        {{ range .Site.Params.social }}
        <a class="level-item grey-dark" href="{{ .url }}">
          <span class="icon">
            <i class="fa {{ .fa_icon }}"></i>
          </span>
        </a>
        {{ end }}
  </div>
  <div class="container has-text-centered">
    <p>{{ .Site.Copyright | safeHTML }}</p>
  </div>
</section>
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/main.js"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
  // Let's get started
  initUI();
});
</script>
