<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-4">{{ .Site.Title }}</h1></a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
            <div class="search-container">
                <input id="search" type="text" class="level-item" placeholder="Search" class="input" />
                <ul id="results" class="results no-bullets">
                </ul>
            </div>
          {{ range .Site.Params.social }}
          <a class="level-item" href="{{ .url }}">
            <span class="icon">
              <i class="fa {{ .fa_icon }}"></i>
            </span>
          </a>
          {{ end }}
        </nav>
      </div>
    </nav>
  </div>
</section>
